In [2]:
import numpy as np

In [5]:
arr = np.random.randint(1,10,size = (5,5))
arr

array([[2, 1, 9, 8, 4],
       [4, 7, 6, 4, 1],
       [1, 9, 4, 1, 3],
       [1, 2, 5, 7, 6],
       [5, 9, 9, 3, 9]])

In [6]:
arr.T

array([[2, 4, 1, 1, 5],
       [1, 7, 9, 2, 9],
       [9, 6, 4, 5, 9],
       [8, 4, 1, 7, 3],
       [4, 1, 3, 6, 9]])

In [7]:
np.transpose(arr)

array([[2, 4, 1, 1, 5],
       [1, 7, 9, 2, 9],
       [9, 6, 4, 5, 9],
       [8, 4, 1, 7, 3],
       [4, 1, 3, 6, 9]])

In [8]:
# 행렬곱 , 내적 복습시험출제
np.dot(arr.T,arr)

array([[ 47,  86,  96,  55,  66],
       [ 86, 216, 178,  86, 131],
       [ 96, 178, 239, 162, 165],
       [ 55,  86, 162, 139, 108],
       [ 66, 131, 165, 108, 143]])

In [16]:
a = np.arange(6).reshape(2,3)
print(a,'\n')
y= np.swapaxes(a,0,1) # 0은 2차원(열), 1은 1차원 (행)
print(y)
print()
print(a.T)

[[0 1 2]
 [3 4 5]]

[[0 3]
 [1 4]
 [2 5]]

[[0 3]
 [1 4]
 [2 5]]

In [135]:
# 1~100을 아래와 같이 출력하세요
arr = np.arange(1,101).reshape(10,10)
print(arr)
arr[[1,3,5,7,9]] = arr[[1,3,5,7,9]][:,[9,8,7,6,5,4,3,2,1,0]]
print(arr)

[[  1   2   3   4   5   6   7   8   9  10]
 [ 11  12  13  14  15  16  17  18  19  20]
 [ 21  22  23  24  25  26  27  28  29  30]
 [ 31  32  33  34  35  36  37  38  39  40]
 [ 41  42  43  44  45  46  47  48  49  50]
 [ 51  52  53  54  55  56  57  58  59  60]
 [ 61  62  63  64  65  66  67  68  69  70]
 [ 71  72  73  74  75  76  77  78  79  80]
 [ 81  82  83  84  85  86  87  88  89  90]
 [ 91  92  93  94  95  96  97  98  99 100]]
[[  1   2   3   4   5   6   7   8   9  10]
 [ 20  19  18  17  16  15  14  13  12  11]
 [ 21  22  23  24  25  26  27  28  29  30]
 [ 40  39  38  37  36  35  34  33  32  31]
 [ 41  42  43  44  45  46  47  48  49  50]
 [ 60  59  58  57  56  55  54  53  52  51]
 [ 61  62  63  64  65  66  67  68  69  70]
 [ 80  79  78  77  76  75  74  73  72  71]
 [ 81  82  83  84  85  86  87  88  89  90]
 [100  99  98  97  96  95  94  93  92  91]]

In [38]:
a = np.arange(1, 101).reshape((10, -1))

for i in range(10):
    if i % 2 == 1:
        a[i] = a[i][::-1]

print(a)

[[  1   2   3   4   5   6   7   8   9  10]
 [ 20  19  18  17  16  15  14  13  12  11]
 [ 21  22  23  24  25  26  27  28  29  30]
 [ 40  39  38  37  36  35  34  33  32  31]
 [ 41  42  43  44  45  46  47  48  49  50]
 [ 60  59  58  57  56  55  54  53  52  51]
 [ 61  62  63  64  65  66  67  68  69  70]
 [ 80  79  78  77  76  75  74  73  72  71]
 [ 81  82  83  84  85  86  87  88  89  90]
 [100  99  98  97  96  95  94  93  92  91]]

In [42]:
# (0,1,2) 복습시험출제
# 3차원과 2차원을 바꾸는 경우 : (1,2,3) -> (2,1,3)
a = np.arange(6).reshape(1,2,3)
print(a,a.shape,'\n')

y = np.transpose(a,(1,0,2))
print(y,y.shape,'\n')

[[[0 1 2]
  [3 4 5]]] (1, 2, 3)

[[[0 1 2]]

 [[3 4 5]]] (2, 1, 3)

In [3]:
# (1,2,3) -> (2,3,1) 복습시험출제
a = np.arange(6).reshape(1,2,3)
print(a,a.shape,'\n')

y = a.transpose(1,2,0)
y = np.transpose(a,(1,2,0))
print(y,y.shape)

[[[0 1 2]
  [3 4 5]]] (1, 2, 3)

[[[0]
  [1]
  [2]]

 [[3]
  [4]
  [5]]] (2, 3, 1)

In [4]:
# [과제] 아래 배열에서 3차원과 2차원을 변경하여 출력하세요(shape 확인)
arr = np.arange(16).reshape(2,2,4)
print(arr,arr.shape,'\n')
arr2 = arr.transpose(1,0,2)
print(arr2,arr2.shape)

[[[ 0  1  2  3]
  [ 4  5  6  7]]

 [[ 8  9 10 11]
  [12 13 14 15]]] (2, 2, 4)

[[[ 0  1  2  3]
  [ 8  9 10 11]]

 [[ 4  5  6  7]
  [12 13 14 15]]] (2, 2, 4)

In [55]:
#  상기 과제의 arr에서 2차원과 1차원을 변경하여 출력하세요(shape 확인)
arr3 = arr.transpose(0,2,1)
print(arr3,arr3.shape)

[[[ 0  4]
  [ 1  5]
  [ 2  6]
  [ 3  7]]

 [[ 8 12]
  [ 9 13]
  [10 14]
  [11 15]]] (2, 4, 2)

In [5]:
# swapaxes로 풀기
print(arr.swapaxes(1,2)) # 0은 3차원

[[[ 0  4]
  [ 1  5]
  [ 2  6]
  [ 3  7]]

 [[ 8 12]
  [ 9 13]
  [10 14]
  [11 15]]]

In [61]:
# 나머지를 구할 경우 사용하는 함수 복습시험출제
value1 = np.array([15,30,45])
value2 = np.array([2,7,9])
print(np.mod(value1,value2))
print(np.remainder(value1,value2))

[1 2 0]
[1 2 0]

In [68]:
# 각 수의 역수를 구해주는 함수 복습시험출제
value = np.array([0.85,1.85,1,100])
print(np.reciprocal(value),'\n')

value1 = np.array([100],dtype = int)
print(value1,'\n')
print(np.reciprocal(value1,dtype = float))

[1.17647059 0.54054054 1.         0.01      ]

[100]

[0.01]

In [72]:
# 승수의 결과 값을 표시해주는 함수 복습시험출제
value1 = np.array([2,10,15])
value2 = np.array([1,2,3])

print(np.power(value1,2),'\n')
print(np.power(value1,value2))

[  4 100 225]

[   2  100 3375]

In [89]:
# 평균 표준편차 복습시험출제
arr = np.random.randn(1000)
print(arr.mean(),'\n') 
print(arr.std())

-0.023336023679917238

1.0005384696586344

In [90]:
# 양수인 원소의 개수
(arr > 0).sum()

484

In [91]:
# 하나 이상의 값이 True인지 검사 복습시험출제
bools = np.array([False,False,True,True])
bools.any()

True

In [92]:
# 모든 원소가 True인지 검사 복습시험출제
bools.all()

False

In [96]:
# 삼항식의 백터와 버전 복습시험출제
arr = np.random.randn(4,4)
print(arr,'\n')
np.where(arr >0, 2, -2) # arr이 0보다 크면 2 아니면 -2

[[-0.32882557 -0.29768931 -2.14425662  0.83215127]
 [-0.57673533  0.19658151  0.88738813  1.31348407]
 [ 1.06541025  0.95576829  1.28695896  1.89713799]
 [ 0.01674067  0.09934101  0.66569121  1.27464277]]

array([[-2, -2, -2,  2],
       [-2,  2,  2,  2],
       [ 2,  2,  2,  2],
       [ 2,  2,  2,  2]])

In [100]:
# arr이 0보다 크면 2 아니면 arr 그대로
np.where(arr >0, 2, arr)

array([[-0.32882557, -0.29768931, -2.14425662,  2.        ],
       [-0.57673533,  2.        ,  2.        ,  2.        ],
       [ 2.        ,  2.        ,  2.        ,  2.        ],
       [ 2.        ,  2.        ,  2.        ,  2.        ]])

In [101]:
# 두개의 1차원 배열을 받아서 가능한 모든 (x,y) 짝을 
# 만들 수 있는 2차원 배열 2개 반환
x = np.arange(1,4)
y = np.arange(1,4)
xs,ys = np.meshgrid(x,y)
print(xs,'\n')
print(ys)

[[1 2 3]
 [1 2 3]
 [1 2 3]]

[[1 1 1]
 [2 2 2]
 [3 3 3]]

In [125]:
# np.sort() 복습시험출제
np.random.seed(0)
arr = np.random.randint(1,100,size = 10)
print(arr,'\n')
print(np.sort(arr),'\n')
print(arr)

[45 48 65 68 68 10 84 22 37 88]

[10 22 37 45 48 65 68 68 84 88]

[45 48 65 68 68 10 84 22 37 88]

In [122]:
arr_sorted = np.sort(arr)
print(arr_sorted)

[10 22 37 45 48 65 68 68 84 88]

In [128]:
# 행렬이 2차원 이상일 때 axis 축 값 설정을 통해 복습시험출제
# 행, 열 방향으로 정렬 수행
arr2d = np.array([[8,12],[9,1]])
sort_arr2d_axis0=np.sort(arr2d,axis=0)
sort_arr2d_axis1=np.sort(arr2d,axis=1)
print(arr2d,'\n')
print(sort_arr2d_axis0,'\n')
print(sort_arr2d_axis1)

[[ 8 12]
 [ 9  1]]

[[ 8  1]
 [ 9 12]]

[[ 8 12]
 [ 1  9]]

In [161]:
# ndarray.sort() : 원본 반영 복습시험출제
np.random.seed(0)
arr = np.random.randint(1,10,size=10)
print(arr,'\n')
arr.sort()  # 원본 반영
print(arr)

[6 1 4 4 8 4 6 3 5 8]

[1 3 4 4 4 5 6 6 8 8]

In [195]:
# 다차원 배열의 정렬은 sort 메소드에 넘긴 축에 따라 1차원 부분을 정렬 복습시험출제
# 열방향 정렬 , default
np.random.seed(1)
arr = np.random.randint(1,10,size=(5,3))

print(arr,'\n')
arr.sort(1)
print(arr)

[[6 9 6]
 [1 1 2]
 [8 7 3]
 [5 6 3]
 [5 3 5]]

[[6 6 9]
 [1 1 2]
 [3 7 8]
 [3 5 6]
 [3 5 5]]

In [190]:
# 행방향 정렬
np.random.seed(1)
arr = np.random.randint(1,10,size=(5,3))

print(arr,'\n')
arr.sort(0)
print(arr)

[[6 9 6]
 [1 1 2]
 [8 7 3]
 [5 6 3]
 [5 3 5]]

[[1 1 2]
 [5 3 3]
 [5 6 3]
 [6 7 5]
 [8 9 6]]

In [198]:
# 정렬된 행렬의 인덱스 반환 
# 기존 원본 행렬의 원소에 대한 인덱스를 필요로 할때 복습시험출제

org_array = np.array([3,1,9,5])
sort_indices = np.argsort(org_array)
print(org_array)
print(type(sort_indices))
sort_indices

[3 1 9 5]
<class 'numpy.ndarray'>

array([1, 0, 3, 2], dtype=int64)

In [309]:
# 배열에서 정렬한 후 5% 분위수에 해당하는 원소만 출력
large_arr = np.random.randint(1,1000,size=1000)
large_arr.sort()
large_arr[int(0.05*len(large_arr))]

55

In [3]:
# 배열 집합 연산
import numpy as np
names = np.array(['Bob','Joe','Will','Joe','Joe'])
np.unique(names)

array(['Bob', 'Joe', 'Will'], dtype='<U4')

In [6]:
names = ['Bob','Joe','Will','Joe','Joe']
sorted(set(names))

['Bob', 'Joe', 'Will']

In [7]:
# 첫번째 배열의 원소가 두번째 배열의 원소를 
# 포함하는지 알려주는 불리언 배열을 반환
values = np.array([6,0,0,3,2,5,6])
np.in1d(values,[2,3,6])

array([ True, False, False,  True,  True, False,  True])

In [8]:
# 배열 데이터의 입출력 복습시험출제
# np.save, np.load는 바이너리 형식 .npy 파일로 저장

arr = np.arange(10)
np.save('some_array',arr)

In [10]:
np.load('some_array.npy')

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [11]:
# np.savez : 여러개의 배열을 압축된 형식으로 저장 복습시험출제
np.savez('array_archinve.npz',a=arr,b=arr)

In [13]:
arch = np.load('array_archinve.npz')
arch['a']

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [65]:
# Q. 인덱싱을 사용하여 [1 0 1 0 1 0 1 0] 을 출력하세요.
a = np.ones(10,dtype=int)
a[[1,3,5,7,9]] = 0
print(a)

[1 0 1 0 1 0 1 0 1 0]

In [42]:
# a = np.arange(10)에서 [6,7,8,9] 출력
a = np.arange(10)
a[a>5]

array([6, 7, 8, 9])

In [53]:
# Q. a에서 최대값, 최소값의 인덱스 출력
a = np.random.randint(1,10,size=10)
print(a)
print(np.argmax(a))
print(np.argmin(a))

[8 8 2 9 2 4 5 5 9 6]
3
2

In [55]:
# Q. a에서 인덱스 배열을 역순으로 출려가세요.
a = np.ones(10,dtype = int)
np.argsort(a)[::-1]

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0], dtype=int64)

In [57]:
# Q. np.ones(10,10)을 아래와 같이 출력하세요.
# array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
#        [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
#        [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
#        [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
#        [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
#        [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
#        [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
#        [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
#        [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
#        [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])
a = np.ones((10,10),)
for i in range(1,9):
    a[i][1:9]=0
a

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

In [152]:
# 다른사람이 한거
b=np.ones((10,10))
b[1:9,1:9]=0
b

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

In [8]:
# [과제] np.ones((5,5))을 아래와 같이 출력하세요
# array([[0., 0., 0., 0., 0., 0., 0., 0., 0.],
#        [0., 0., 0., 0., 0., 0., 0., 0., 0.],
#        [0., 0., 1., 1., 1., 1., 1., 0., 0.],
#        [0., 0., 1., 1., 1., 1., 1., 0., 0.],
#        [0., 0., 1., 1., 1., 1., 1., 0., 0.],
#        [0., 0., 1., 1., 1., 1., 1., 0., 0.],
#        [0., 0., 1., 1., 1., 1., 1., 0., 0.],
#        [0., 0., 0., 0., 0., 0., 0., 0., 0.],
#        [0., 0., 0., 0., 0., 0., 0., 0., 0.]])
arr1 = np.ones((5,5))
np.pad(arr1,(2,2),'constant',constant_values=0)

array([[0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 1., 1., 1., 1., 0., 0.],
       [0., 0., 1., 1., 1., 1., 1., 0., 0.],
       [0., 0., 1., 1., 1., 1., 1., 0., 0.],
       [0., 0., 1., 1., 1., 1., 1., 0., 0.],
       [0., 0., 1., 1., 1., 1., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [162]:
# [과제] np.zeros((8,8))을 이용해서 아래와 같이 출력하세요(두가지 방식:인덱싱, tile함수)
# array([[0, 1, 0, 1, 0, 1, 0, 1],
#        [1, 0, 1, 0, 1, 0, 1, 0],
#        [0, 1, 0, 1, 0, 1, 0, 1],
#        [1, 0, 1, 0, 1, 0, 1, 0],
#        [0, 1, 0, 1, 0, 1, 0, 1],
#        [1, 0, 1, 0, 1, 0, 1, 0],
#        [0, 1, 0, 1, 0, 1, 0, 1],
#        [1, 0, 1, 0, 1, 0, 1, 0]])
a = np.zeros((8,8),dtype=int)
a[(1,3,5,7),0:8:2]=1
a[(0,2,4,6),1:8:2]=1
a

array([[0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0]])

In [12]:
# 다른사람이 한것
a = np.array([[0,1],[1,0]])
b = np.tile(a,(4,4))
print(b)
x = np.zeros((8,8))
x[::2,1::2] = 1
x[1::2,::2] = 1
x

[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]

array([[0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [1., 0., 1., 0., 1., 0., 1., 0.]])

In [16]:
a = np.array([[0,1],[1,0]])
b =np.tile(a,(4,4))
b

array([[0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0]])

In [9]:
# [도전과제] np.arange(336).reshape(6,7,8)에서 100번쨰 요소의 인덱스를 구하세요
arr = np.arange(336).reshape(6,7,8)
print(np.where(arr==99))
# print(np.unravel_index(99,(6,7,8)))

(array([1], dtype=int64), array([5], dtype=int64), array([3], dtype=int64))

In [24]:
# [도전과제] np.arrange(4)을 이용해서 아래와 같이 출력하세요.
# array([[0, 0, 0, 0, 0],
#        [1, 0, 0, 0, 0],
#        [0, 2, 0, 0, 0],
#        [0, 0, 3, 0, 0],
#        [0, 0, 0, 4, 0]])
a = np.arange(4)
np.diag(a+1,-1)

array([[0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 2, 0, 0, 0],
       [0, 0, 3, 0, 0],
       [0, 0, 0, 4, 0]])

In [23]:
# 다른사람이 한것
zero = np.zeros((5, 5))
a = np.arange(4)

for i in range(4):
    zero[i + 1, i] = a[i] + 1
    
print(zero)

[[0. 0. 0. 0. 0.]
 [1. 0. 0. 0. 0.]
 [0. 2. 0. 0. 0.]
 [0. 0. 3. 0. 0.]
 [0. 0. 0. 4. 0.]]

# [파이썬 random 함수]

In [253]:
import random #복습시험출제
print(random.random(),'\n') # 0.0 <= x < 1.0 사이 숫자 랜덤하게
print(random.randint(1,10),'\n') # 1에서 10사이 정수중에서 난수값 리턴
print(random.uniform(10,20),'\n') # min max 사이 float 리턴
print(random.randrange(10),'\n') # 지정 범위 int 리턴
print(random.choice([1,2,3,4,5]),'\n') # 리스트 내부에 있는 요소중 랜덤하게 선택
li = [1,2,3,4,5]
print(random.sample(li,3),'\n') # 리스트 요소를 중복이 안되게 리턴
random.shuffle(li) # 리스트 요소를 다시 섞어서 리턴
print(li)

0.07928502156581119

6

18.061937327933403

8

2

[1, 4, 2]

[5, 1, 4, 3, 2]

# [numpy random 함수] #복습시험출제

- np.random.seed : seed를 통한 난수생성(설정하면 난수 고정)
- np.random.randint : 균일분포의 정수 난수 1개 생성
- np.random.rand : 0부터 1사이의 균일분포에서 난수 매트릭스 배열 생성
- np.random.randn : 가우시안 표준 정규분포에서 난수 매트릭스 배열 생성
- np.random.shuffle : 기존의 데이터의 순서 바꾸기
- np.random.choice : 기존 데이터에서 sampling

In [330]:
print(np.random.randint(6),'\n') # 0에서 5까지 정수인 난수 1개
print(np.random.randint(1,20),'\n') # 0에서 19까지 정수인 난수 1개
print(np.random.randint(10,size = 10),'\n') # 0에서 9까지 정수인 난수 10개
print(np.random.randint(10,20,size = 10),'\n') # 10에서 19까지 정수인 난수 10개
print(np.random.randint(10,20,size=(3,5)),'\n') # 10에서 19까지 정수인 난수로 3행 5열 배열

2

2

[0 4 7 3 1 1 8 5 5 0]

[16 14 18 18 10 19 14 15 16 15]

[[15 10 16 17 16]
 [12 13 19 19 11]
 [13 10 15 17 18]]

In [364]:
r = np.random.rand(6) # 0~ 1 사이의 균일분포 6개
print(r,'\n')
r.mean() # 0.5에 수렴

0.5070004522444359

In [29]:
# 표준 정규분포
r = np.random.randn(600)
r.mean() # 0에 수렴

0.00466867457146686

In [377]:
li = np.arange(1,6)
print(li,'\n')
np.random.shuffle(li)
print(li)

[1 2 3 4 5]

[2 4 5 3 1]

In [405]:
np.random.choice(li)

2

In [419]:
a = np.array([11,11,3,3,2,2,2,7])
index,count = np.unique(a,return_counts = True)
print(index)
print(count)

[ 2  3  7 11]
[3 2 1 2]

In [426]:
np.random.uniform(1.0,2.0,10)

array([1.59058408, 1.869687  , 1.43914045, 1.05057334, 1.34719731,
       1.11660329, 1.36198196, 1.9950509 , 1.26808512, 1.76453441])

In [442]:
# 0~ 1사이의 난수 실수값으로 행렬생성
# uniform 함수의 최소값, 최대값을 각각 0,1로 지정한 것과 같음
np.random.random_sample((2,3))

array([[0.12422472, 0.93133121, 0.55198545],
       [0.78068222, 0.00799002, 0.47981422]])

# pandas

In [443]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\envs\cakd5\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\admin\anaconda3\envs\cakd5\lib\site-packages (from pandas) (1.21.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\admin\anaconda3\envs\cakd5\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\admin\anaconda3\envs\cakd5\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\envs\cakd5\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [444]:
ar = np.random.rand(4,8)
ar

array([[0.13971057, 0.32182257, 0.64047486, 0.28516367, 0.1293201 ,
        0.80346239, 0.37484441, 0.08710353],
       [0.84277197, 0.85038921, 0.96972618, 0.47362106, 0.80106494,
        0.51568211, 0.56769591, 0.54149698],
       [0.2063499 , 0.13379446, 0.28587181, 0.61245542, 0.14652054,
        0.59919224, 0.14166261, 0.81539732],
       [0.30047043, 0.65995809, 0.07333843, 0.48293295, 0.42443269,
        0.94272174, 0.28326694, 0.68719136]])

In [453]:
# 배열을 데이터프레임으로 변환
import pandas as pd
df = pd.DataFrame(ar)
print(df,type(df))

          0         1         2         3         4         5         6  \
0  0.139711  0.321823  0.640475  0.285164  0.129320  0.803462  0.374844
1  0.842772  0.850389  0.969726  0.473621  0.801065  0.515682  0.567696
2  0.206350  0.133794  0.285872  0.612455  0.146521  0.599192  0.141663
3  0.300470  0.659958  0.073338  0.482933  0.424433  0.942722  0.283267

          7
0  0.087104
1  0.541497
2  0.815397
3  0.687191   <class 'pandas.core.frame.DataFrame'>

In [482]:
columns = ['id','gender','age','region','product','price','qty','time']
index = [np.arange(4)]
df = pd.DataFrame(ar,index,columns=columns)
df

,id,gender,age,region,product,price,qty,time
0,0.139711,0.321823,0.640475,0.285164,0.129320,0.803462,0.374844,0.087104
1,0.842772,0.850389,0.969726,0.473621,0.801065,0.515682,0.567696,0.541497
2,0.206350,0.133794,0.285872,0.612455,0.146521,0.599192,0.141663,0.815397
3,0.300470,0.659958,0.073338,0.482933,0.424433,0.942722,0.283267,0.687191

In [ ]:
ID = np.random.randint(1000,10000,3)
gen = np.random.choice(['M','F'],3)
age = np.random.randint(10,40,3)

data = np.array([ID,gen,age]).reshape(3,3).transpose()
df=pd.DataFrame(data,np.arange(1,4),['ID','Gender','Age'])
df

In [535]:
h = np.zeros((3, 10),dtype = int)
id_ = np.random.randint(1, 1000, size = (1, 10))
gender = np.random.randint(2, size = (1, 10))
age = np.random.randint(0, 80, size = (1, 10))

h[0] = id_
h[1] = gender
h[2] = age

h = np.transpose(h)

columns = ['id', 'gender', 'age']
index = np.arange(1, 11)
df = pd.DataFrame(h, index, columns = columns)

df

     id  gender  age
1   199       0   64
2   561       1   30
3   922       0   47
4   676       0   15
5   131       0   55
6   801       0   11
7   498       1   45
8   931       1   25
9   690       1   33
10  440       0   38

In [539]:
ar = np.zeros((4,3))
columns = ['id', 'gender', 'age']
index = [np.arange(1,5)]
df = pd.DataFrame(ar,index,columns=columns)
df.id = np.array([1,2,3,4])
df.gender = np.array([0,1,0,1])
df.age = np.array([10,20,30,40])
df

   id  gender  age
1   1       0   10
2   2       1   20
3   3       0   30
4   4       1   40

[과제] 고객 구매데이터 생성(id,성별,연령,지역,상품,가격,구매시간)하고 데이터 프레임으로 변환하여 출력하세요(관측치 1000개)

- id : 1~1000번 일련번호
- gender : 0,1 정수 난수 생성
- age : 0~ 80사이 정수 난수 생성
- region : 1~10사이 정수난수 생성
- product_19 : 제품코드 11111 ~ 99999
- product_20 : 제품코드 11111 ~ 99999
- price_19 : 1000~50000 사이 실수 난수 생성
- price_20 : 1000~50000 사이 실수 난수 생성
- quantity_19 : 1~100 사이 정수 난수 생성
- quantity_20 : 1~100 사이 정수 난수 생성
- time_19 : 01 ~ 24 사이 정수 난수 생성
- time_20 : 01 ~ 24 사이 정수 난수 생성
- amount_19 : price_19 * quantity_19
- amount_20 : price_20 * quantity_20
- price_19
- sales : 19년 대비 구매 증가면 1, 감소면 0

In [65]:
import numpy as np
import pandas as pd
pn=np.random.randint(11111,99999,size=20)
pc1=np.random.randint(10,501,size=len(pn))*100
pc2 = {}
li = []
for i in range(len(pn)):
    pc2[pn[i]]=pc1[i]
id_ = np.arange(1,1001)
gender = np.random.choice(['M','F'],size = 1000)
age = np.random.randint(0,81,size=1000)
region = np.random.randint(0,11,size=1000)
product_19 = np.random.choice(pn,size = 1000)
product_20 = np.random.choice(pn,size = 1000)
for i in product_19:
    li.append(pc2[i])
price_19 = np.array(li)
li = []
for i in product_20:
    li.append(pc2[i])
price_20 = np.array(li)
quantity_19 = np.random.randint(1,101,size=1000)
quantity_20 = np.random.randint(1,101,size=1000)
time_19 = np.random.randint(1,25,size=1000)
time_20 = np.random.randint(1,25,size=1000)
amount_19 = price_19 * quantity_19
amount_20 = price_20 * quantity_20
sales = (amount_19 < amount_20)
sales = np.where(sales == True ,1 ,0)

index = np.arange(1,1001)
columns = ['id','gender','age','region','product_19','product_20','price_19','price_20','quantity_19','quantity_20','time_19','time_20','amount_19','amount_20','sales']
data = np.zeros((1000,15))
df = pd.DataFrame(data,index,columns=columns)
df.id=id_
df.gender = gender
df.region = region
df.age = age
df.product_19 = product_19
df.product_20 = product_20
df.price_19 = price_19
df.price_20 = price_20
df.quantity_19 = quantity_19
df.quantity_20 = quantity_20
df.time_19 = time_19
df.time_20 = time_20
df.amount_19 = amount_19
df.amount_20 = amount_20
df.sales = sales
df

,id,gender,age,region,product_19,product_20,price_19,price_20,quantity_19,quantity_20,time_19,time_20,amount_19,amount_20,sales
1,1,M,16,10,69575,14235,19300,42100,93,60,2,10,1794900,2526000,1
2,2,F,79,8,14235,14235,42100,42100,23,19,16,8,968300,799900,0
3,3,F,33,2,96713,47584,32900,12900,87,64,7,8,2862300,825600,0
4,4,M,14,0,47584,45715,12900,13400,82,11,16,10,1057800,147400,0
5,5,F,43,5,69575,80770,19300,23100,47,52,20,24,907100,1201200,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,996,M,75,6,80770,22605,23100,8000,85,70,2,14,1963500,560000,0
997,997,M,79,7,14235,45715,42100,13400,19,88,12,2,799900,1179200,1
998,998,M,62,6,80770,94567,23100,16600,13,38,17,4,300300,630800,1
999,999,F,70,5,45715,45715,13400,13400,20,56,21,15,268000,750400,1
1000,1000,M,32,6,29936,38708,34600,38800,61,69,11,16,2110600,2677200,1