In [1]:
%pip install cx_oracle

Requirement already satisfied: cx_oracle in c:\users\admin\anaconda3\envs\cakd5\lib\site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import cx_Oracle
dsn = cx_Oracle.makedsn('localhost',1521,'xe')
dsn

'(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SID=xe)))'

In [3]:
db = cx_Oracle.connect('C##CAKD5','CAKD5',dsn)
db

In [4]:
import pandas as pd
cursor = db.cursor()
cursor.execute('select * from book')
x = cursor.fetchall()
columns = ['BOOKID','BOOKNAME','PUBLISHER','PRICE']

df = pd.DataFrame(x,columns=columns)
df.head()

   BOOKID BOOKNAME PUBLISHER  PRICE
0       1   축구의 역사      굿스포츠   7000
1       2  축구아는 여자       나무수  13000
2       3   축구의 이해     대한미디어  22000
3       4   골프 바이블     대한미디어  35000
4       5    피겨 교본      굿스포츠   8000

In [ ]:
# create
import cx_Oracle