In [2]:
import requests

headers = {
    'accept': 'application/json',
    'Authorization': 'nlGY+fYNAvUSfOPIoRR5qJzDO5rWzYoUAPNnC3jOuYsMWQy+OE30AcJLa5UJzyyD8ElHPhjiOkkDVFomSpkJkw==',
}

params = (
    ('page', '1'),
    ('perPage', '21'),
    ('serviceKey', 'nlGY+fYNAvUSfOPIoRR5qJzDO5rWzYoUAPNnC3jOuYsMWQy+OE30AcJLa5UJzyyD8ElHPhjiOkkDVFomSpkJkw=='),
)

response = requests.get('https://api.odcloud.kr/api/15047952/v1/uddi:654ab7ff-40d7-4193-9cfd-b0a65210eb20', headers=headers, params=params)

In [3]:
import json
dic = json.loads(response.text)

In [11]:
dic['data'][0]

{'구분': '2017년', '도로종류': '일반국도', '부상(명)': '698', '사고(건)': '363', '사망(명)': '19'}

In [12]:
import pandas as pd
df = pd.DataFrame(columns = ['년도','도로종류','부상(명)','사고(건)','사망(명)'])

In [13]:
dic['data']
for i in range(len(dic['data'])):
    df.loc[i] = [dic['data'][i]['구분'],dic['data'][i]['도로종류'],dic['data'][i]['부상(명)'],dic['data'][i]['사고(건)'],dic['data'][i]['사망(명)']]

In [19]:
df['부상(명)']= df['부상(명)'].astype(int)
df['사고(건)']= df['사고(건)'].astype(int)
df['사망(명)']= df['사망(명)'].astype(int)

In [21]:
df.groupby('년도').sum()
# 216335 2002 0.9% 
# 4185   77  1.8%
# 322829  3946 1.2%

# 229600  2887 1.2%
# 3349    101  3%
# 341712  5460  1.59%

       부상(명)  사고(건)  사망(명)
년도
2017년   3946   2002     77
2018년   2656   1308     53
2019년   5460   2887    101

In [22]:
df

       년도    도로종류  부상(명)  사고(건)  사망(명)
0   2017년    일반국도    698    363     19
1   2017년     지방도    451    230     10
2   2017년  특별광역시도   1189    590     12
3   2017년      시도   1125    577     11
4   2017년      군도    169    101      3
5   2017년    고속국도    273    120     22
6   2017년      기타     41     21      0
7   2018년    일반국도    487    249     18
8   2018년     지방도    359    170     11
9   2018년  특별광역시도    710    329      4
10  2018년      시도    698    355      2
11  2018년      군도    115     71      1
12  2018년    고속국도    211    104     16
13  2018년      기타     76     30      1
14  2019년    일반국도    964    498     29
15  2019년     지방도    587    300     18
16  2019년  특별광역시도   1594    825      7
17  2019년      시도   1629    876     17
18  2019년      군도    184    116      8
19  2019년    고속국도    296    147     20
20  2019년      기타    206    125      2