In [1]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [3]:
import pandas as pd
iris = load_iris()
iris.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [4]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [5]:
iris_data=iris.data
iris_label = iris.target
iris_df = pd.DataFrame(data = iris_data,columns=iris.feature_names)
iris_df['label'] = iris_label
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [16]:
# 학습용 검증용 데이터 분리
X_train,X_test,y_train,y_test = train_test_split(iris_data,iris_label,test_size=0.2,random_state=10)

In [17]:
# DT 객체 생성
dt_clf = DecisionTreeClassifier()

# 학습 수행
dt_clf.fit(X_train,y_train)

DecisionTreeClassifier()

In [18]:
# 학습이 완료된 DT 객체에서 테스트 데이터 세트로 예측 수행
pred = dt_clf.predict(X_test)

In [20]:
# 예측 정확도 평가
from sklearn.metrics import accuracy_score
print(f' 예측 정확도 : {accuracy_score(y_test,pred)}')

 예측 정확도 : 0.9333333333333333

교차검증

- K Fold
- Stratified K Fold
- cross_val_score

In [25]:
from sklearn.model_selection import KFold
import numpy as np

iris = load_iris()
features = iris.data
label = iris.target
dt_clf = DecisionTreeClassifier(random_state=156)

# 5개의 폴드 세트를 분리
kfold = KFold(n_splits=5)
cv_accuracy = []

n_iter = 0
for train_index, test_index in kfold.split(features):
    X_train,X_test = features[train_index],features[test_index]
    y_train,y_test = label[train_index],label[test_index]

    dt_clf.fit(X_train,y_train)
    pred = dt_clf.predict(X_test)
    n_iter += 1

    accuracy = np.round(accuracy_score(y_test,pred),4)
    train_size = X_train.shape[0]
    test_size = X_test.shape[0]
    print(f"{n_iter}회차, 정확도 : {accuracy}, 학습용데이터 : {train_size}, 검증용 데이터 : {test_size}")
    print(f"{n_iter}회차 검증세트 인덱스 : {test_index}")
    cv_accuracy.append(accuracy)

print(f'평균 검증 정확도 : {np.mean(cv_accuracy)}')

1회차, 정확도 : 1.0, 학습용데이터 : 120, 검증용 데이터 : 30
1회차 검증세트 인덱스 : [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29]
2회차, 정확도 : 0.9667, 학습용데이터 : 120, 검증용 데이터 : 30
2회차 검증세트 인덱스 : [30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53
 54 55 56 57 58 59]
3회차, 정확도 : 0.8667, 학습용데이터 : 120, 검증용 데이터 : 30
3회차 검증세트 인덱스 : [60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83
 84 85 86 87 88 89]
4회차, 정확도 : 0.9333, 학습용데이터 : 120, 검증용 데이터 : 30
4회차 검증세트 인덱스 : [ 90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119]
5회차, 정확도 : 0.7333, 학습용데이터 : 120, 검증용 데이터 : 30
5회차 검증세트 인덱스 : [120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137
 138 139 140 141 142 143 144 145 146 147 148 149]
평균 검증 정확도 : 0.9

In [26]:
iris = load_iris()
irids_df = pd.DataFrame(data=iris.data,columns=iris.feature_names)
iris_df['label'] = iris.target
iris_df.label.value_counts()

0    50
1    50
2    50
Name: label, dtype: int64

In [28]:
kfold = KFold(n_splits=3)
n_iter = 0
for train_index,test_index in kfold.split(iris_df):
    n_iter +=1
    label_train = iris_df['label'].iloc[train_index]
    label_test = iris_df['label'].iloc[test_index]
    print(f'{n_iter}회차 교차검증')
    print(f'학습 레이블 데이터 분포 : {label_train.value_counts()}')
    print(f'검증 레이블 데이터 분포 : {label_test.value_counts()}')

1회차 교차검증
학습 레이블 데이터 분포 : 1    50
2    50
Name: label, dtype: int64
검증 레이블 데이터 분포 : 0    50
Name: label, dtype: int64
2회차 교차검증
학습 레이블 데이터 분포 : 0    50
2    50
Name: label, dtype: int64
검증 레이블 데이터 분포 : 1    50
Name: label, dtype: int64
3회차 교차검증
학습 레이블 데이터 분포 : 0    50
1    50
Name: label, dtype: int64
검증 레이블 데이터 분포 : 2    50
Name: label, dtype: int64

In [32]:
# stratifiedKfold는 원본 데이터의 레이블 분포를 먼저 고려한 뒤 
# 이 분포와 동일하게  학습과 검증 데이터 셋을 분리
from sklearn.model_selection import StratifiedKFold

iris_df_exlabel = iris_df.drop(['label'],axis=1)
skf = StratifiedKFold(n_splits=3)
n_iter = 0

for train_index,test_index in skf.split(iris_df,iris_df['label']):
    n_iter += 1
    label_train = iris_df['label'].iloc[train_index]
    label_test = iris_df['label'].iloc[test_index]
    print(f'{n_iter}회차 교차검증')
    print(f'학습 레이블 데이터 분포 : {label_train.value_counts()}')
    print(f'검증 레이블 데이터 분포 : {label_test.value_counts()}')

1회차 교차검증
학습 레이블 데이터 분포 : 2    34
0    33
1    33
Name: label, dtype: int64
검증 레이블 데이터 분포 : 0    17
1    17
2    16
Name: label, dtype: int64
2회차 교차검증
학습 레이블 데이터 분포 : 1    34
0    33
2    33
Name: label, dtype: int64
검증 레이블 데이터 분포 : 0    17
2    17
1    16
Name: label, dtype: int64
3회차 교차검증
학습 레이블 데이터 분포 : 0    34
1    33
2    33
Name: label, dtype: int64
검증 레이블 데이터 분포 : 1    17
2    17
0    16
Name: label, dtype: int64

[과제] 상기 케이스에 대한 교차 검증을 아래와 같이 수행하세요.
- 각 회차별 교차 검증 정확도 및 검증 세트 인덱스
- 평균 검증 정확도

In [37]:
# cross_val_score() : 교차 검증을 보다 간편하게
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, cross_validate
from sklearn.datasets import load_iris

iris_data = load_iris()
df_clf = DecisionTreeClassifier(random_state=156)

data = iris_data.data
label = iris_data.target

scores = cross_val_score(dt_clf,data,label,scoring='accuracy',cv=3)

In [38]:
from sklearn.model_selection import GridSearchCV

dtree = DecisionTreeClassifier()
parameters = {'max_depth':[1,2,3],'min_samples_split':[2,3]}
grid_dtree = GridSearchCV(dtree,param_grid=parameters,cv=3,refit=True)

grid_dtree.fit(X_train,y_train)
scores_df = pd.DataFrame(grid_dtree.cv_results_)
scores_df[['params','mean_test_score','rank_test_score']]

                                     params  mean_test_score  rank_test_score
0  {'max_depth': 1, 'min_samples_split': 2}         0.833333                5
1  {'max_depth': 1, 'min_samples_split': 3}         0.833333                5
2  {'max_depth': 2, 'min_samples_split': 2}         0.958333                1
3  {'max_depth': 2, 'min_samples_split': 3}         0.958333                1
4  {'max_depth': 3, 'min_samples_split': 2}         0.950000                4
5  {'max_depth': 3, 'min_samples_split': 3}         0.958333                1

In [40]:
print('GridSearchCV 최적 파라미너 : ', grid_dtree.best_params_)
print(f'GridSearchCV 최고 정확도 : {grid_dtree.best_score_}')

GridSearchCV 최적 파라미너 :  {'max_depth': 2, 'min_samples_split': 2}
GridSearchCV 최고 정확도 : 0.9583333333333334

In [42]:
estimator = grid_dtree.best_estimator_
pred = estimator.predict(X_test)
print(f'테스트 데이터 정확도 : {accuracy_score(y_test,pred)}')

테스트 데이터 정확도 : 0.8333333333333334

In [43]:
# 데이터 인코딩
# 레이블 인코딩
from sklearn.preprocessing import LabelEncoder

items = ['TV','냉장고','전자렌지','컴퓨터','선풍기','믹서','믹서']
encoder = LabelEncoder()
labels = encoder.fit_transform(items)
print(f'인코딩 반환값: {labels}')

인코딩 반환값: [0 1 4 5 3 2 2]

In [44]:
encoder.classes_

array(['TV', '냉장고', '믹서', '선풍기', '전자렌지', '컴퓨터'], dtype='<U4')

In [52]:
# 원핫인코딩
from sklearn.preprocessing import OneHotEncoder

items = ['TV','냉장고','전자렌지','컴퓨터','선풍기','믹서','믹서']
# 먼저 숫자값으로 변환
encoder = LabelEncoder()
labels = encoder.fit_transform(items)
labels = labels.reshape(-1,1)
labels
oh_encoder = OneHotEncoder()
oh_labels = oh_encoder.fit_transform(labels)
oh_labels.toarray()

# pandas로 원핫인코딩
df = pd.DataFrame(items,columns=['label'])
pd.get_dummies(df)

   label_TV  label_냉장고  label_믹서  label_선풍기  label_전자렌지  label_컴퓨터
0         1          0         0          0           0          0
1         0          1         0          0           0          0
2         0          0         0          0           1          0
3         0          0         0          0           0          1
4         0          0         0          1           0          0
5         0          0         1          0           0          0
6         0          0         1          0           0          0

In [63]:
# 피쳐 스케일링과 정규화
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

iris_scaled = scaler.fit_transform(iris_df)
iris_scaled_df = pd.DataFrame(data = iris_scaled,columns=iris_df.columns)
display(iris_scaled_df.head())
print(f'평균 : {iris_scaled_df.mean()}')
print(f'분산 : {iris_scaled_df.var()}')

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,-0.900681,1.019004,-1.340227,-1.315444,-1.224745
1,-1.143017,-0.131979,-1.340227,-1.315444,-1.224745
2,-1.385353,0.328414,-1.397064,-1.315444,-1.224745
3,-1.506521,0.098217,-1.283389,-1.315444,-1.224745
4,-1.021849,1.249201,-1.340227,-1.315444,-1.224745

평균 : sepal length (cm)   -2.775558e-16
sepal width (cm)    -9.695948e-16
petal length (cm)   -8.652338e-16
petal width (cm)    -4.662937e-16
label                1.184238e-17
dtype: float64
분산 : sepal length (cm)    1.006711
sepal width (cm)     1.006711
petal length (cm)    1.006711
petal width (cm)     1.006711
label                1.006711
dtype: float64

In [73]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
iris_df_ms = scaler.fit_transform(iris_df)
ms_df = pd.DataFrame(data=iris_df_ms,columns=iris_df.columns)
display(ms_df)
print(f'평균 \n {ms_df.mean()}')
print(f'최대값 \n {ms_df.max()}')
print(f'최소값 \n {ms_df.min()}')

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,0.222222,0.625000,0.067797,0.041667,0.0
1,0.166667,0.416667,0.067797,0.041667,0.0
2,0.111111,0.500000,0.050847,0.041667,0.0
3,0.083333,0.458333,0.084746,0.041667,0.0
4,0.194444,0.666667,0.067797,0.041667,0.0
...,...,...,...,...,...
145,0.666667,0.416667,0.711864,0.916667,1.0
146,0.555556,0.208333,0.677966,0.750000,1.0
147,0.611111,0.416667,0.711864,0.791667,1.0
148,0.527778,0.583333,0.745763,0.916667,1.0
149,0.444444,0.416667,0.694915,0.708333,1.0

평균
 sepal length (cm)    0.428704
sepal width (cm)     0.440556
petal length (cm)    0.467458
petal width (cm)     0.458056
label                0.500000
dtype: float64
최대값
 sepal length (cm)    1.0
sepal width (cm)     1.0
petal length (cm)    1.0
petal width (cm)     1.0
label                1.0
dtype: float64
최소값
 sepal length (cm)    0.0
sepal width (cm)     0.0
petal length (cm)    0.0
petal width (cm)     0.0
label                0.0
dtype: float64

[과제] train.csv 데이터로 생존자 분석 예측을 위한 분석용 데이터셋을 하나의 전처리 사용자 함수를 이용하여 작성한 후 모델링 및 성능평가
를 수행하세요. 단(전처리는 5개 이상 정확도는 0.85 이상)