## 프로젝트 기반 AI 빅데이터 서비스 솔루션 개발 전문과정

#### 교과목명 : 프로그래밍 언어 활용

- 평가일 : 22.01.07
- 성명 : 권혁종
- 점수 : 88

※ 문제당 5점으로 채점

#### 1. numbers 리스트에서 15, 20, 25를 출력하세요.(for문과 if 조건 사용 필수)     5점
numbers = [5, 15, 6, 20, 7, 25]

In [2]:
numbers = [5, 15, 6, 20, 7, 25]
for i in numbers:
    if i %5 == 0 and i >5:
        print(i)
    else:
        pass

15
20
25

#### 2. 아래 사용자 함수, 변수 리스트 및 2개의 내장함수를 각각 이용해서  [1, 4, 9, 16, 25], [1, 2]를 출력하세요.(내장함수 2개 사용 필수)  5점

In [13]:
# 함수를 선언합니다.
def power(item):
    return item * item
def under_3(item):
    return item < 3

# 변수를 선언합니다.
list_input_a = [1, 2, 3, 4, 5]

a = list(map(lambda x : power(x),(list_input_a)))
print(a)
b = list(filter(lambda x : under_3(x),(list_input_a)))
print(b)

[1, 4, 9, 16, 25]
[1, 2]

#### 3. 정수를 입력하면 짝수 홀수 여부를 반환해주는 프로그램을 작성하세요.(정수 입력 후 '짝수', '홀수'가 일치하게 출력)  5점

In [17]:
num = int(input('number : '))
if num %2 == 0:
    print('짝수')
else:
    print('홀수')

number : 88165
홀수

#### 4. 람다 함수를 이용해서 a의 b제곱에서 a x b를 뺀 수를 구하는 식을 만들고 그 식을 이용해서  a, b가 아래와 같이 주어졌을 때 각각의 값을 구하세요.  5점
a = 2, b = 5 \
a= 5, b = 2

In [20]:
cal = lambda a ,b : (a**b)-(a*b) 
print(cal(2,5))
print(cal(5,2))

22
15

#### 5. 123456789를 입력하면 천 단위로 콤마로 구분하여 출력하세요. 0점

In [38]:
a = input('number')
lista = list(a)
lista = lista[::-1]
for i in range(len(lista)):
    if i%3 == 2:
        lista.append(lista[0])
        lista.append(',')
        del lista[0]
    else:
        lista.append(lista[0])
        del lista[0]
if len(a)%3==0:
    del lista[-1]
lista = lista [::-1]
"".join(lista)

number1111111

'1,111,111'

#### 6. example_list = ["요소A", "요소B", "요소C"]를 파이썬 내장함수를 이용하여 아래와 같이 출력하세요. 5점
0번째 요소는 요소A입니다.\
1번째 요소는 요소B입니다.\
2번째 요소는 요소C입니다.

In [34]:
example_list = ["요소A", "요소B", "요소C"]
for i, v in enumerate(example_list):
    print(f'{i}번째 요소는 {v}입니다.')

0번째 요소는 요소A입니다.
1번째 요소는 요소B입니다.
2번째 요소는 요소C입니다.

#### 7. 97을 40으로 나눈 몫과 나머지를 내장함수를 이용하여 구하세요.(튜플로 출력 필수) 5점

In [35]:
print(divmod(97,40))

(2, 17)

#### 8. list_number = [52, 273, 32, 72, 100]로 변수 선언하고 정수를 입력하면 그 정수 인덱스와 리스트에서 해당하는 값을 출력하는 프로그램을 작성하세요. 단, 모든 예외처리를 수행하며 특히 ValueError와 IndexError는 별도 구분해서 예외처리 한 후 '예외처리 완료'를 마지막으로 출력하세요.
3점
- 4 입력시 \
정수 입력> 4 \
4번째 요소: 100
예외 처리 완료

- 문자 입력시 \
정수 입력> 가 \
정수를 입력해 주세요!
예외 처리 완료

- 5 입력시 \
정수 입력> 5 \
리스트의 인덱스를 벗어났어요!
예외 처리 완료

In [132]:
list_number = [52, 273, 32, 72, 100]
while 1:
    try:
        num = int(input("정수입력 : "))
        list_number[num]
    except ValueError:
        print('정수를 입력해 주세요!')
    except IndexError:
        print('리스트의 인덱스를 벗어났어요!')
    else:
        print(f'{num}번째 요소 : {list_number[num]}')
        break
    finally:
        print('예외 처리 완료')

정수입력 : 가
정수를 입력해 주세요!
예외 처리 완료
정수입력 : 5
리스트의 인덱스를 벗어났어요!
예외 처리 완료
정수입력 : 4
4번째 요소 : 100
예외 처리 완료

In [39]:
# 보완한 것
list_number = [52, 273, 32, 72, 100]
while 1:
    try:
        num = int(input("정수입력 : "))
        list_number[num]
    except ValueError:
        print('정수를 입력해 주세요!')
    except IndexError:
        print('리스트의 인덱스를 벗어났어요!')
    except Exception as e:
        print(e)
    else:
        print(f'{num}번째 요소 : {list_number[num]}')
        break
    finally:
        print('예외 처리 완료')

정수입력 : 1
1번째 요소 : 273
예외 처리 완료

#### 9. 사용자로부터 서로 다른 숫자 두 개를 입력받고 첫 번째 와 두 번째중 큰 숫자를 구하는 프로그램을 수행하세요.5

In [6]:
a = int(input('첫번째 숫자 : '))
b = int(input('두번재 숫자 : '))
if a > b:
    print('첫번째 숫자가 큽니다.')
elif a < b:
    print('두번째 숫자가 큽니다.')
else:
    print('두 숫자가 같습니다.')

첫번째 숫자 : 5
두번재 숫자 : 3
첫번째 숫자가 큽니다.

#### 10. 1부터 100까지 아래와 같은 방식으로 2개의 수를 곱해서 가장 큰 수를 구하세요.5점

 1 * 99 ...99 * 1

In [46]:
n = 1
mul = 1
while n < 100:
    if n * (100-n)> mul:
        mul = n*(100-n)
        n += 1
    else:
        n += 1
print(mul)

2500

#### 11. 정규표현식을 사용하여 text에서 지역코드만 출력하세요.5점
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."

In [56]:
import re
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."
p = re.compile('(\d+)-(\d+)-(\d+)')
s = p.search(text)
s.group(1)

'032'

#### 12. 'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'abcdefghi'와 e'를 출력하세요5점

In [59]:
import re
text = 'abcdefghij'
p = re.compile('(a(b(c(d(e)f)g)h)i)j')
s = p.search(text)
print(s.group(1))
print(s.group(5))

abcdefghi
e

#### 13. [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']에서 9와 'a'를 삭제 후 리스트로 출력하세요5점

In [253]:
lista = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']
del lista[9:11]
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

#### 14. 500 ~ 1000사이의 정수 중 5와 7의 공배수의 합을 구하세요5점

In [69]:
n = 501
total = 0
while n <1000:
    if n%5 == 0 and n%7==0:
        total += n
        n+=1
    else:
        n+=1
print(total)

10535

#### 15. [    ]을 채워서 아래와 같이 출력하세요.5점
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [70]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]

for number in numbers:
    output[(number+2)%3].append(number)
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

####  16. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.5점
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

In [71]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
count = {}
for i in numbers:
    if i in count:
        count[i] +=1
    else:
        count[i] = 1
count

{3: 4, 6: 2, 5: 2, 8: 2, 2: 2, 9: 2, 7: 2, 4: 2}

#### 17. 클래스 Country를 완성하여 아래와 같이 출력하세요.5점
- 한국의 인구는 5천만명이며 수도는 서울입니다.
- 1인당 gnp는 USD 3만입니다.

In [74]:
class Country:
    
    def __init__(self,country,people,capital):
        self.country = country
        self.people = people
        self.capital = capital
        
    def desc(self):
        print(f'{self.country}의 인구는 {self.people}천만명이며 수도는 {self.capital}입니다.')

class Korea(Country):    

    def desc1(self,gnp):
        self.gnp = gnp
        print('1인당 gnp는 USD %d만입니다.' %self.gnp)
        
obj = Korea('한국',5,'서울')
obj.desc()
obj.desc1(3)

한국의 인구는 5천만명이며 수도는 서울입니다.
1인당 gnp는 USD 3만입니다.

#### 18. 사칙연산을 수행하는  클래스를 작성하여 객체를 만들고 2개의 정수 10, 5를 입력한 후 연산 결과를  포멧을 이용하여 출력하세요. 5점

In [11]:
class calculator:
    def __init__(self,num1,num2):
        self.num1 = int(num1)
        self.num2 = int(num2)
    def add(self):
        return self.num1+self.num2
    def sub(self):
        return self.num1-self.num2
    def mul(self):
        return self.num1*self.num2
    def div(self):
        return self.num1/self.num2

a = input("첫번쨰 숫자")
b = input('두번째 숫자')
cal = calculator(a,b)
print(f'''{cal.num1}과 {cal.num2}의 사칙연산 결과
덧셈 : {cal.add()}
뺄셈 : {cal.sub()}
곱셈 : {cal.mul()}
나눗셈 : {cal.div()}''')

첫번쨰 숫자100
두번째 숫자10
100과 10의 사칙연산 결과
덧셈 : 110
뺄셈 : 90
곱셈 : 1000
나눗셈 : 10.0

#### 19. 올해 경과된 날짜수를 계산하여 출력하세요.5점

In [14]:
import time
t = time.localtime()
start_day = f'{t.tm_year}-01-01'
elapsed_day = t.tm_yday
print(f'오늘은 {start_day}이후 {elapsed_day} 일째 되는 날입니다.')

오늘은 2022-01-01이후 7 일째 되는 날입니다.

In [252]:
import datetime
import calendar
t = datetime.datetime.now()
m = t.month
d = t.day
date = d
if m == 1:
    date = d
else:
    for i in range(1,m):
        d += calendar.monthrange(t.year,i)[1]


print(f'올해 경과된 날짜 수 : {date}')

올해 경과된 날짜 수 : 7

#### 20. 2015년 인기순 상위5개 여아이름별 출생아수를 출력하세요.('data/names/yob2015.txt')0점

In [10]:
with open('data/names/yob2015.txt','r') as f:
    data = f.read()
    for line in data:
         (name,gender,value) = line.split(",")

In [56]:
#보완한것
dicF = {}
with open('data/names/yob2015.txt','r') as f:
    for line in f:
        (name,gender,value) = line.split(",")
        if gender == 'F':
            dicF[name] = int(value)
        else:
            pass
lista = sorted(dicF.items(),key = (lambda x:x[1]), reverse = True)
for i in range(5):
    print(f'TOP_{i+1}  {lista[i][0]}   {lista[i][1]}')

TOP_1  Emma   20463
TOP_2  Olivia   19705
TOP_3  Sophia   17430
TOP_4  Ava   16383
TOP_5  Isabella   15633

In [62]:
filename = 'data/names/yob2015.txt'

nameF = {}
nameM = {}
with open(filename,'r') as f:
    data = f.readlines()
    for d in data:
        if d[-1] == '\n':
            d = d[:-1]
        tmp = d.split(',')
        name = tmp[0]
        sex = tmp[1]       
        birth = tmp[2]
        
        if sex == 'F':
            ret = nameF
        else:
            ret = nameM
        if name in ret:
            ret[name] += int(birth)
        else:
            ret[name] = int(birth)

retF = sorted(nameF.items(),key = lambda x:x[1], reverse = True)

for i,name in enumerate(retF):
    if i > 4:
        break
    print(f'TOP_{i+1} 여자 아기 이름 : {name}')

TOP_1 여자 아기 이름 : ('Emma', 20463)
TOP_2 여자 아기 이름 : ('Olivia', 19705)
TOP_3 여자 아기 이름 : ('Sophia', 17430)
TOP_4 여자 아기 이름 : ('Ava', 16383)
TOP_5 여자 아기 이름 : ('Isabella', 15633)