## 기초

In [4]:
# Q. 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력하세요.
a=int(input())
b=float(input())
a+b

3
3.3

6.3

In [6]:
# Q. a = 52와 b = 52.273일때 a+b는 5252.273으로 출력되도록 a와 b를 문자열 
# 자료형으로 변환하세요.
a = 52
b = 52.273
str(a)+str(b)

'5252.273'

In [10]:
# Q. s1, s2의 합집합과 교집합을 각각 리스트로 출력하세요.
# 합집합(s1 | s2), 교집합(s1 & s2)
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
hap = set(s1|s2)
print(hap)
g = set(s1&s2)
print(g)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}

In [21]:
# [과제] 아래와 같이 출력하세요.
a = 12345
print(f'{a:5}')
print(f'{a:10}')
a = 12.3456789
print(f'{a:0.6f}')
print(f'{a:15.3f}')

12345
     12345
12.345679
         12.346

12345
     12345
12.345679
          12.346

In [22]:
# [과제] 1부터 100까지의 정수중 5에서 95까지의 합을 구하시오
sum = 0
for n in range(1,101):
    if 96>n>4:
        sum +=n
    else:
        pass
print(sum)

4550

In [1]:
#[과제] while문을 사용해 1부터 1000까지의 정수 중 3과 5의 공배수의 합을 구해보세요.
n = 1
sum = 0
while n<=1000:
    if n %3 ==0 and n%5==0:
        sum += n
        n += 1
    else:
        pass
        n += 1
print(sum)

33165

In [6]:
# [과제] format 합수를 이용해서 다음과 같은 형식으로 현재 날짜/시간을 출력하세요.
# 2021년 12월 29일 15시 47분 32초
import datetime
t = datetime.datetime.now()
print(f'{t.year}년 {t.month}월 {t.day}일 {t.hour}시 {t.minute}분 {t.second}초')

2022년 1월 6일 17시 43분 22초

In [ ]:
# [과제] 현재 시간을 오전과 오후로 구분하는 프로그램을 작성하세요.
import datetime
t = datetime.datetime.now()

In [11]:
# Q. 태어난 연도를 입력받아 띠를 출력하는 프로그램을 작성하세요.
# 원숭이, 닭, 개, 돼지, 쥐, 소, 범, 토끼, 용, 뱀, 말, 양띠
animal = ['원숭이', '닭', '개', '돼지', '쥐', '소', '범', '토끼', '용', '뱀', '말', '양']
a=input('년도')
print(f'띠는 {animal[int(a)%12]}띠')

년도1994
띠는 개띠

In [ ]:
#[과제] 계절 구분 프로그램

#각 계절별 출력 멘트는 계절에 맞게 창작
#if 조건문으로 datetime 모듈을 import해서 datetime.now 함수를 사용해서 작성
import datetime
now = datetime.datetime.now()

In [14]:
# [과제] 람다 함수를 이용해서 a의 b제곱을 구하는 식을 만들고
# a, b가 아래와 같이 주어졌을 때 각각의 값을 구하세요. 
# a = 2, b = 5
# a= 5, b = 2
print((lambda x,y : x**y )(2,5))
print((lambda x,y : x**y )(5,2))

32
25

In [15]:
# [과제] 1부터 100까지 아래와 같이 2개의 수를 곱해서 가장 큰 수를 구하세요.
#1 *99, 2*98 ...99*1
result = 0
n = 1
while n<100:
    if n*(100-n) > result:
        result = n*(100-n)
    n+=1
print(result)

2500

In [18]:
# [과제]  [    ]을 채워서 아래와 같이 출력하세요.
# 출력 : 
# [[1,4,7],[2,5,8,],[3,6,9]]
numbers = [1,2,3,4,5,6,7,8,9]
output = [[],[],[]]

for number in numbers:
    output[(number+2)%3].append(number)
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
#[과제] 사용자가 입력한 게임횟수만큼 로또 번호를 출력하는 프로그램을 작성하세요.

In [ ]:
# [과제] 남녀 파트너 정해주기 프로그램을 작성학세요(5개 커플)

In [ ]:
# [과제]Player가 3승할 때까지 계속 진행되는 가위바위보 게임 프로그램을 작성하세요.
# 게임은 Player와 컴퓨터가 진행

## 함수
- 함수는 예제 많이 없으니 그냥 공부..

In [ ]:
#[과제] 뺄셈 나눗셈 멀티계산 함수를 작성
#('sub',2,4,6,8,10)
#('div',2,4,6,8,10)

In [ ]:
# [과제] strings를 다양한 문자가 포함된 순서로 정렬하세요.
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']

In [10]:
# 람다함수와 적합한 내장함수를 사용하여 아래와 같이 출력하세요
#  [1,2,3,4,5] -> [1,4,9,16,25]
#  [1,2,3,4,5] -> [1,2]
li = [1,2,3,4,5]
lia = list(map(lambda x : x**2,li))
print(lia)
lib = list(filter(lambda x : x <3,li))
print(lib)

[1, 4, 9, 16, 25]
[1, 2]

In [12]:
#[1,-3,2,0,-5,6] 에서 양수만 필터링해서 출력하세요(내장함수, 사용자함수 각각 이용)
li = [1,-3,2,0,-5,6] 
lia = list(filter(lambda x : x >0 , li))
print(lia)

[1, 2, 6]

In [16]:
# 내장함수를 이용하여 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환하세요
#  [1,2,3],[4,5,6] -> [(1,4),(2,5),(3,6)]
#  [1,2,3],[4,5,6],[7,8,9] -> [(1,4,7),(2,5,8),(3,6,9)]
#  ('abc','def') -> [('a','d'),('b','e'),('c','f')]
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]
print(list(zip(a,b)))
print(list(zip(a,b,c)))
print(list(zip('abc','def')))

[(1, 4), (2, 5), (3, 6)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [27]:
# [과제] strings를 다양한 문자가 포함된 순서로 정렬하세요.
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']
a = list(strings)
a.sort(key = lambda x : len(set(x)),reverse = True)
a

['bar', 'ca', 'ababa', 'a', 'aaaa']

In [28]:
# Q. 코딩을 한줄로 작성해서 동일한 결과를 출력하세요
li = []
for i in range(0,20,2):
    li.append(i*i)
print(li)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [31]:
print(list(map(lambda x : x**2,range(0,20,2))))

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [37]:
print([x**2 for x in range(0,20,2)])

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]