In [7]:
# 입력값이 없고 결과값만 있는 함수
def say():
    return 'HI'
a = say()
print(a)

HI

In [8]:
# 입력값은 있고 결과값이 없는 함수
# 결과값은 오직 return 명령어로만 돌려받을 수 있음
def add(a,b):
    print('%d, %d의 합은 %d입니다.' %(a,b,a+b))
add(3,4)

3, 4의 합은 7입니다.

In [9]:
# 입력값도 결과값도 없는 함수

def say():
    print('HI')
say()

HI

In [21]:
# 입력값, 결과값이 모두 있는 함수

def cal(a,b,c):
    n=1
    while 1:
        if n%a==0 and n%b==0 and n%c==0:
            break
        else:
            n+=1
    return n
cal(981,13,153)

216801

In [27]:
# 여러 개의 입력값을 받는 함수 만들기
# *args 처럼 입력 변수명 앞에 *를 붙이면 입력값들을 전부 모아서 튜플로 만들어 준다

def add_many(*args):
    sum = 0
    for i in args:
        sum += i
    return sum

add_many(1,2,3,4,5)

15

In [28]:
# 함수의 반환 값은 언제나 하나임 (리턴값이 여러개일 경우 튜플 1개로 반환)
def add_and_mul(a,b):
    return a+b, a*b

add_and_mul(3,7)

(10, 21)

In [30]:
def add_mul(choice, *args):
    if choice == '+':
        result = 0
        for i in args:
            result += i
        return result
    elif choice == '*':
        result = 1
        for i in args:
            result *= i
        return result
    else :
        return 0

add_mul('*',1,2,3,4,5)

120

In [39]:
# add_mul() 함수를 정의하여 1,2,3,4,5,를 입력값으로 적용하여 덧셈, 곱셈 연산을 수행하세요

def add_mul(choice, *args):
    if choice == 'add':
        result = 0
        for i in args:
            result += i
        return result
    elif choice == 'mul':
        result = 1
        for i in args:
            result *= i
        return result
    
add_mul('add',1,2,3,4,5)

15

In [43]:
def add_mul(choice, *args):
    if choice == 'add':
        result = 0
        for i in args:
            result += i
        return result
    elif choice == 'mul':
        result = 1
        for i in args:
            result *= i
        return result

add_mul('add',1,2,3,4,5)

15

In [48]:
#[과제] 뺄셈 나눗셈 멀티계산 함수를 작성
#('sub',2,4,6,8,10)
#('div',2,4,6,8,10)
def sub_div(choice, *args):
    ma = max(args)
    if choice == 'sub':
        result = ma*2
        for i in args:
            result -= i
        return result
    elif choice == 'div':
        result = ma*ma
        for i in args:
            if i == 0:
                return print('0이 포함되어있어 나눗셈이 불가능합니다.')
            else:
                result /= i
        return result
    else:
        return "오류 div 나 sub를 사용해주세요"

sub_div('sub',2,4,6,8,10)
sub_div('div',2,4,6,8,10)

0.026041666666666668

In [29]:
def sub_div(choice, *args):
    if choice == 'sub':
        result = args[0]
        for i in args[1:]:
             result -= i
        return result
    elif choice == 'div':
        result = args[0]
        for i in args[1:]:
            if i == 0:
                return print('0이 포함되어있어 나눗셈이 불가능합니다.')
            else:
                result /= i
        return result
print(sub_div('sub',2,4,6,8,10))
print(sub_div('div',2,4,6,8,10))

-26
0.0010416666666666667

In [2]:
# 다른사람이 한거
def sub_div (choice, *args) :
    if choice == "sub":
        result = args[0]
        for i in args : 
            result -= i
        return result
    elif choice == 'div':
        result = args[0]*args[0]
        for i in args :
            if i == 0:
                return print("오류")
            result /= i
        return result 

print(sub_div('sub', 2,4,6,8,10))
print(sub_div('div', 2,4,6,8,10))

-28
0.0010416666666666667

In [17]:
# 함수 안에서 선언된 변수의 효력범위
a = 1
def vartest(a):     #함수 안에서 선언된 변수는 밖에서 못가져옴
    a = 1
    a = a + 1

print(vartest(a))
print(a)

None
None

In [16]:
# 함수 안에서 함수 밖의 변수를 변경하는 방법 - return 이용

a = 1 
def vartest(a):
    a = a + 1
    return a

a = vartest(a)
print(a)

1

In [15]:
# global 명령을 이용하는 방법
a = 1
def vartest():
    global a
    a = a + 1

vartest()
print(a)

2

In [2]:
# 파일 읽고 쓰기
f = open('test1.txt','w')
f.close()

In [4]:
f = open('test1.txt','w')
for i in range(1,11):
    data = '%d번째 줄입니다.\n' %i
    f.write(data)
f.close()

In [3]:
# f.readline() 한줄씩 읽음
f = open('test1.txt', 'r')
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [6]:
f = open('test1.txt', 'r')
for i in range(10):
    line = f.readline()
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [8]:
f = open('test1.txt', 'r')
while 1: 
    line = f.readline()
    if not line:
        break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [9]:
# f.read() 는 파일 내용 전체를 문자열로 반환
f = open('test1.txt', 'r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [13]:
f = open('test1.txt','a')
for i in range(11,16):
    data = '%d번째 줄입니다.\n' %i
    f.write(data)
f.close()

In [15]:
f = open('test1.txt','r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.

In [17]:
# with 문과 같이 사용하면 f.close를 사용하지 않는다
with open('foo.txt','w') as f:
    f.write('파이썬을 배웁시다.')

In [18]:
with open('foo.txt','r') as f:
    data = f.read()
    print(data)

파이썬을 배웁시다.

In [28]:
with open('test2.txt','w') as f:
    for i in range(1,11):
        data = '%d번째 줄입니다.\n'  %i
        f.write(data)

In [29]:
with open('test2.txt','r') as f:
    data = f.read()
    print(data)

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [30]:
with open('test2.txt','a') as f:
    for i in range(11,16):
        data = f'{i}번째 줄입니다.\n'
        f.write(data)

In [11]:
with open('test2.txt','r') as f:
    data = f.read()
    print(data)

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.

#  내장함수

In [44]:
print(abs(-3))
print(all([1,2,3,0])) # x가 모두 참이면 True, 거짓이 하나라도 있으면 False
print(any([1,2,3,0])) # x가 하나라도 참이면 True, 모두 거짓이면 False
print(chr(65))   # 숫자의 아스키코드 문자를 출력

3
False
True
A
97

In [49]:
sum = lambda a,b : a+b  # lamvda 함수는 사용자함수와 비슷
sum(1,2)

3

In [52]:
myList = [lambda a,b: a+b, lambda a,b: a*b]
print(myList[0](3,4))
print(myList[1](3,4))

7
12

In [55]:
print(len('python')) #len 문자열 길이, 리스트 개수 출력
print(len([1,2,3]))
print(len([1,2,'a']))

6
3
3

In [66]:
list(range(5))      # range 범위 설정
list(range(1,6))
list(range(1,10,2))  # 2 씩 간격
list(range(0,-10,-1))   # -1씩 간격이라 거꾸로

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [68]:
print(divmod(7,3)) # 몫과 나머지 출력

(2, 1)

In [1]:
# enumerate 
# 순서가 있는 자료형을 입력으로 받아 인덱스 값을 포함한 
# enumerate 객체를 리턴

for i, name in enumerate(['james','tom','susan']):
    print(i, name)

0 james
1 tom
2 susan

In [70]:
# eval 실행가능한 문자열을 입력으로 받아 
# 문자열을 실행한 결과값을 리턴한다.

print(eval('1+2'))

3

In [76]:
li = [0,1,2,3,5,4]
li.sort(reverse=True)
print(li)

[5, 4, 3, 2, 1, 0]

In [30]:
# 정령된 결과를 반환하는 함수는 본체는 변형되지 않는다

li = [0,2,1,5,4]
s = sorted(li,reverse=True)
print(s)

[5, 4, 2, 1, 0]

# 외장함수  
전 세계 파이썬 사용자들이 만든 유용한 프로그램을 모아 놓은 파이썬 라이브러리. 파이썬을 설치할 때 자동으로 설치됨

In [89]:
# pickle 함수 바이러니 타입으로 저장함 저장할때 dump
import pickle
f = open('test.txt','wb')
data = {1:'python', 2:'you need'}
pickle.dump(data,f)
f.close()

In [91]:
# pickle 읽을 때 load
import pickle
f = open('test.txt','rb')
data = pickle.load(f)
print(data)
f.close()

{1: 'python', 2: 'you need'}

In [92]:
import os
os.environ['PATH']

'C:\\Users\\admin\\anaconda3\\envs\\cakd5;C:\\Users\\admin\\anaconda3\\envs\\cakd5\\Library\\mingw-w64\\bin;C:\\Users\\admin\\anaconda3\\envs\\cakd5\\Library\\usr\\bin;C:\\Users\\admin\\anaconda3\\envs\\cakd5\\Library\\bin;C:\\Users\\admin\\anaconda3\\envs\\cakd5\\Scripts;C:\\WINDOWS\\system32;C:\\WINDOWS;C:\\WINDOWS\\System32\\Wbem;C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0\\;C:\\WINDOWS\\System32\\OpenSSH\\;C:\\Program Files\\Git\\cmd;C:\\Program Files\\Microsoft SQL Server\\150\\Tools\\Binn\\;C:\\Program Files\\Microsoft SQL Server\\Client SDK\\ODBC\\170\\Tools\\Binn\\;C:\\Users\\admin\\anaconda3;C:\\Users\\admin\\anaconda3\\Library\\mingw-w64\\bin;C:\\Users\\admin\\anaconda3\\Scripts;C:\\Users\\admin\\anaconda3\\Library\\bin;C:\\Users\\admin\\AppData\\Local\\Programs\\Python\\Python38\\Scripts\\;C:\\Users\\admin\\AppData\\Local\\Programs\\Python\\Python38\\;C:\\Users\\admin\\AppData\\Local\\Programs\\Python\\Python39\\Scripts\\;C:\\Users\\admin\\AppData\\Local\\Programs\\Python\\Python39\\;C:\\Users\\admin\\AppData\\Local\\Microsoft\\WindowsApps;;C:\\Program Files\\JetBrains\\PyCharm 2021.2.3\\bin;'

In [93]:
# 폴더 변경
%pwd  # 경로보기
# os.chdir('C:\\cakd5\\workspace\\m1_programming')

'C:\\cakd5\\workspace\\m1_programming'

In [95]:
os.getcwd()

'C:\\cakd5\\workspace\\m1_programming'

In [99]:
# 디렉토리 보기
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: B4B3-A327

 C:\cakd5\workspace\m1_programming 디렉터리

2021-12-31  오후 12:25    <DIR>          .
2021-12-31  오후 12:25    <DIR>          ..
2021-12-30  오후 02:49    <DIR>          .ipynb_checkpoints
2021-12-31  오전 11:29                18 foo.txt
2021-12-31  오후 12:16                40 test.txt
2021-12-31  오전 11:35               261 test2.txt
2021-12-31  오전 11:27               261 test_new.txt
2021-12-31  오전 10:30            83,301 기초.ipynb
2021-12-31  오후 12:25            27,062 함수.ipynb
               6개 파일             110,943 바이트
               3개 디렉터리  954,103,275,520 바이트 남음

In [98]:
# 파일명 변경
os.rename('test1.txt','test_new.txt')

FileNotFoundError: [WinError 2] 지정된 파일을 찾을 수 없습니다: 'test1.txt' -> 'test_new.txt'

In [106]:
# glob 함수
# 인자로 받은 패턴과 이름이 일치하는 
# 모든 파일과 디렉토리의 리스트를 반환

import glob
glob.glob('C:\cakd5\workspace\m1_programming/*.txt')

['C:\\cakd5\\workspace\\m1_programming\\foo.txt',
 'C:\\cakd5\\workspace\\m1_programming\\test.txt',
 'C:\\cakd5\\workspace\\m1_programming\\test2.txt',
 'C:\\cakd5\\workspace\\m1_programming\\test_new.txt']

In [107]:
import time
time.time()

1640921411.997345

In [110]:
time.localtime(time.time())

time.struct_time(tm_year=2021, tm_mon=12, tm_mday=31, tm_hour=12, tm_min=32, tm_sec=2, tm_wday=4, tm_yday=365, tm_isdst=0)

In [112]:
time.asctime(time.localtime(time.time()))

'Fri Dec 31 12:33:03 2021'

In [116]:
# time.sleep() : 일정한 시간간격을 두고 루프를 실행할 수 있음

import time
for i in range(10):
    print(i)
    time.sleep(1)

0
1
2
3
4
5
6
7
8
9

In [9]:
import calendar
print(calendar.month(2021,10))

    October 2021
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [120]:
# 요일 (0 월요일 ~ 6 일요일)
print(calendar.weekday(2021,12,31))

4

In [121]:
# 1일의 요일, 날수
calendar.monthrange(2022,1)

(5, 31)

In [1]:
import webbrowser
webbrowser.open('http://google.com')

True

In [50]:
# 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요.
li = [0,1,2,3,4,5,6]
del li[2]
print(li)

[0, 1, 3, 4, 5, 6]

In [2]:
li = [1,2,3,4,5,6]
li.remove(2)
print(li)

[1, 3, 4, 5, 6]

In [53]:
li = [0,1,2,3,4,5,6]
li.pop(2)
print(li)

[0, 1, 3, 4, 5, 6]

In [49]:
# 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 모든 원소를 삭제 후 출력하세요.
li = [0,1,2,3,4,5,6]
for i in range(len(li)):
    del li[0]
print(li)

li = [0,1,2,3,4,5,6]
del li[:]
print(li)

[]
[]

In [48]:
# 람다함수와 적합한 내장함수를 사용하여 아래와 같이 출력하세요
#  [1,2,3,4,5] -> [1,4,9,16,25]
#  [1,2,3,4,5] -> [1,2]

cal = lambda a: a**2

li_a = [1,2,3,4,5]

print(list(map(cal,li_a)))

print(list(filter(lambda x: x<3 , li_a)))

del li_a[2:]

print(li_a)

[1, 4, 9, 16, 25]
[1, 2]
[1, 2]

In [60]:
#[1,-3,2,0,-5,6] 에서 양수만 필터링해서 출력하세요(내장함수, 사용자함수 각각 이용)
def f(a):
    if a > 0:
        return a
    else:
        return

li_a = [1,-3,2,0,-5,6]
list(filter(f,li_a))

x=[1,-3,2,0,-5,6]
list(filter(lambda x: x > 0 , x))

[1, 2, 6]

In [40]:
# 내장함수를 이용하여 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환하세요
#  [1,2,3],[4,5,6] -> [(1,4),(2,5),(3,6)]
#  [1,2,3],[4,5,6],[7,8,9] -> [(1,4,7),(2,5,8),(3,6,9)]
#  ('abc','def') -> [('a','d'),('b','e'),('c','f')]
li_a = [1,2,3]
li_b = [4,5,6]
li_c = [7,8,9]
li_d = ['abc','def']
result1 = []
result2 = []
for i in range(len(li_a)):
    result1.append((li_a[i],li_b[i]))
print(result1)
for i in range(len(li_a)):
    result2.append((li_a[i],li_b[i],li_c[i]))
print(result2)
a = list(li_d[0])
b = list(li_d[1])
c = []
for i in range(len(a)):
    c.append((a[i],b[i]))
print(c)

[(1, 4), (2, 5), (3, 6)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [61]:
# 내장함수를 이용하여 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환하세요
#  [1,2,3],[4,5,6] -> [(1,4),(2,5),(3,6)]
#  [1,2,3],[4,5,6],[7,8,9] -> [(1,4,7),(2,5,8),(3,6,9)]
#  ('abc','def') -> [('a','d'),('b','e'),('c','f')]
li_a = [1,2,3]
li_b = [4,5,6]
li_c = [7,8,9]

print(list(zip(li_a,li_b)))

print(list(zip(li_a,li_b,li_c)))

print(list(zip ('abc','def')))

[(1, 4), (2, 5), (3, 6)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [63]:
num = [1,2,3]
lt = ['a','b','c']
for pair in zip(num,lt):
    print(pair)

(1, 'a')
(2, 'b')
(3, 'c')

In [67]:
# 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 
# 작성한 후 1,2,3을 입력한 결과를 출력하세요

def mid (*args):
    sum = 0
    for i in args:
        sum += i
    return sum/len(args)

mid(1,2,3)

2.0

In [4]:
x = input()
y = input()
x = int(x)
y = int(y)
if x>0 and y>0:
    print('1')
elif x>0 and y<0:
    print('2')
elif x<0 and y<0:
    print('3')
else:
    print('4')

-1
1
4

In [14]:
# [과제] strings를 다양한 문자가 포함된 순서로 정렬하세요.
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']
s1 = []
for i in range(len(strings)):
    s1.append(len(set(strings[i])))
s2 = list(zip(s1,strings))
s2.sort(reverse=True)
s1, strings = zip(*s2)
print(strings)

('bar', 'ca', 'ababa', 'aaaa', 'a')

In [23]:
# 교수님 예제
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa']
strings.sort(key=lambda x:len(set(x)))#,reverse=True
strings[::-1]

['bar', 'ababa', 'ca', 'aaaa', 'a']

In [24]:
# [과제] 튜플 형태인 strings를 다양한 문자가 포함된 순서로 정렬하세요.
strings = ('a', 'ca', 'bar', 'aaaa', 'ababa')
s1 = []
for i in range(len(strings)):
    s1.append(len(set(strings[i])))
s2 = list(zip(s1,strings))
s2.sort(reverse=True)
s1, strings = zip(*s2)
print(strings)

('bar', 'ca', 'ababa', 'aaaa', 'a')

In [24]:
# 교수님 예제
strings = ('a', 'ca', 'bar', 'aaaa', 'ababa')
s1 = list(strings)
s1.sort(key=lambda x:len(set(x)))
s1[::-1]

['bar', 'ababa', 'ca', 'aaaa', 'a']

In [36]:
s = 'abcdefg'
s_list = list(s)
s_list.reverse()
print(''.join(s_list))

gfedcba

In [45]:
s = 'abcdefg'
print(s[::-1])

gfedcba

In [47]:
# dcb만 출력
s = 'abcdefg'
print(s[3:0:-1])

dcb

In [50]:
s = 'abcdefg'
print(s[::-1])
print(s[6::-1])

gfedcba
gfedcba